body{
  background-color: desaturate(darken($base-accent-color, 20), 30);
}

.welcome-message{
  color: desaturate(darken($base-accent-color, 20), 30);
  text-align: center;
  font-family: Trebuchet MS, Arial, Sans;
  font-size: 60px;
}

.main{
  background-color: white;
  padding-bottom: 1em;
}

.container{
  @include outer-container;
  min-height: 30em;
}

.create-rack-message{
   text-align: center;
   color: blue;
   font-family: Trebuchet MS, Arial, Sans;
}

.brochure-rack-message{
  text-align: center;
  color: blue;
  font-family: Trebuchet MS, Arial, Sans;
}
.page-header {
  a {
    float: right;
  }
}

.login{
  text-align: center;
}

.new-client-message{
  text-align: center;
  color: blue;
  font-family: Trebuchet MS, Arial, Sans;
}

.contact_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.contact_form input {
    height:20px;
    width:220px;
    padding:5px 8px;
}
.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:156px;}
