<footer class="footer-2">
  <div class="footer-logo">
    <img src="https://lh3.googleusercontent.com/-BvWDPVBnfbo/AAAAAAAAAAI/AAAAAAAAAK0/veJYqpwYW34/s120-c/photo.jpg" alt="">
  </div>
    <ul>
      <li><a href="http://www.fastsigns.com/560-durango-co">About</a></li>
      <li><a href="mailto:560@fastsigns.com">Contact</a></li>
    </ul>
</footer>
