<script>
$(function() {
  var menu = $('#navigation-menu');
  var menuToggle = $('#js-mobile-menu');
  var signUp = $('.sign-up');

  $(menuToggle).on('click', function(e) {
    e.preventDefault();
    menu.slideToggle(function(){
      if(menu.is(':hidden')) {
        menu.removeAttr('style');
      }
    });
  });

    // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item"); 
      $(".nav .more").removeClass("active-nav-item");
    });
  });
</script>

<header class="navigation">
  <div class="menu-wrapper">
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><%= link_to "Home", root_path %></li>
        <li class="nav-link"><a href="http://www.fastsigns.com/Project-Services">Services</a></li>
        <li class="nav-link"><a href="http://www.fastsigns.com/560-durango-co">About Us</a></li>
        <li class="nav-link"><a href="mailto:560@fastsigns.com">Contact Us</a></li>
        <li class="nav-link more"><a href="javascript:void(0)">Admin</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Submenu Item</a></li>
            <li><a href="javascript:void(0)">Another Item</a></li>
          </ul>
        </li>
        <% if signed_in? %>
        Welcome <%= current_user.email %>
        <li class="nav-link"><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
        <% else %>
        <li class="nav-link"><%= link_to 'Sign in', sign_in_path %></li>
        <% end %> 
      </ul>
    </div>
    <div class="navigation-tools">
    </div>
  </div>  
</header>