<h1> Brochure Racks</h1>
<%= link_to "Add Rack", new_brochure_rack_path %>
<div>


<% @brochure_racks.each do |brochure_rack| %>
  <div class="brochure_racks">
    <%= link_to brochure_rack.name, brochure_rack %>
  </div>
<% end %>
</div>