<div class="page-header">
  <h1>Racks</h1>
</div>
<div class="action-panel">
  <%= link_to "Add Rack", new_brochure_rack_path %>
</div>

<table class="wide-table table-borders">
  <% @brochure_racks.each do |brochure_rack| %>
    <tr>
      <td>
        <%= link_to brochure_rack do %>
          <div class="brochure_racks">
            <%= brochure_rack.name %>
          </div>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
